.TagContent{
    background: rgb(255,96,96);
    border-radius: 10px;
    width:auto;
    height:25px;
    color:white;
    padding-left:20px;
    padding-right:20px;
    margin-right:20px;
    margin-top: 10px;
    font-weight:500;
    font-size:14px;
    display: flex;
    align-items: center;
}
.TagMain{
    display:flex; 
    flex-direction:row;
}
@media (max-width:768px)  {
    .TagContent{
        font-weight:500;
        font-size:10px;
        height: 14px;
    }
}