.logementMain{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;   
}
.carouselMain{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.InfoMain{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.informationLocation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.titreLogement{
    color:#FF6060;
    font-size: 36px;
    text-align: left;
}
.locationLogement{
    color:#FF6060;
    font-size: 18px;
    font-weight: 500;
}
.location{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.locationMain{
    margin-bottom: 20px;
    width: 50%;
}
.TagMain{
    display:flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-top: 10px;
}
.ratingMain{
    display:flex;
    vertical-align: middle;
    margin-top: 10px;
}
.zoneDescription{
    display:flex;
    flex-direction:row;
    width: 100%;
    margin: 0 auto;
    
}
.elementsLogement{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
}
.elementsDescription{
    width: 48%;
}

.elementsEquipements{
    width:48%;
}
.TagPrincipal{
    width: 50%;
    display: flex;
    align-items: flex-end;
}
@media (max-width : 768px) {
    .InfoMain{
        display:flex;
        flex-direction: column;
    }
    .TagMain{
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    .TagPrincipal{
        width: 100%;
    }
    .titreLogement{
        font-size: 18px;
        text-align: left;
    }
    .elementsLogement{
        flex-direction: column;
        width: 100%;
    }
    .elementsDescription{
        width: 100%;
    }
    
    .elementsEquipements{
        width:100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .ratingMain{
        align-items: center;
    }
    .logementMain{
        width: 90%; 
    }
    .locationMain{
        width: 100%;
    }
    .locationLogement{
        font-size: 14px;
    }
}