.cardLink{
    text-decoration: none;
    color:white;
    margin-right: 20px;
}
.imageCover{
    width:100%;
    height: 340px;
}
.cardTitle{
    color:white;
    text-align:left;
    padding-left: 10px;
    font-size: 18px;
    word-wrap: break-word;
    /*height: 52px;*/
}