.up{
    padding-right: 10px;
}
.down{
    padding-right: 10px;
}
.DropDownContentOpen{
    width:100%;
    height:auto;
    background-color:#F7F7F7;
    display:flex;
    flex-direction:column;
    font-size:24px;
    color:#FF6060;
    text-align:left;
    padding-top:20px;
    padding-bottom:10px;
    /*padding-left:10px;
    padding-right:10px;*/
    border-radius: 10px;
}

.DropDownContentClosed{
    width:100%;
    visibility:hidden;
    display:none;
    height:0px;
    background-color:#F7F7F7;
    display:flex;
    flex-direction:column;
    font-size:24px;
    color:#FF6060;
    text-align:left;
    border-radius: 10px;
}
.DropdownTitle{
    background: rgb(255,96,96);
    border-radius: 10px;
    color:white;
    /*margin-right:20px;*/
    width:100%;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding-left:10px;
    padding-right:10px;*/
    font-size:24px;    
}
.textDropDown{
    padding-left: 10px;
    /*padding-right: 10px;*/
}
.DropdownTitre{
    padding-left: 10px;
}
@media (max-width : 768px) {
    .DropdownTitle{
        font-size:      13px;
        font-weight:    500;
        margin-right:   0px;
        padding-right:  0px;
        padding-left:   0px;
    }
    .DropDownContentClosed, .DropDownContentOpen{
        font-size: 12px;
        font-weight: 400;
        padding-left: 0px;
        padding-right: 0px;
    }

}
